@font-face {
  font-family: "Clear Sans";
  src: url('../clear-sans.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

.board {
  order: 1;  
  padding: 5px;
  background-color: #baa;
  border-radius: 7px;
  outline: none;
  position: relative;
}

.board3{
  width: 330px;
  height: 330px;
}

.board4{
  width: 440px;
  height: 440px;
}

.board5{
  width: 550px;
  height: 550px;
}

.board6{
  width: 660px;
  height: 660px;
}

.board7{
  width: 770px;
  height: 770px;
}

.board8{
  width: 880px;
  height: 880px;
}

.board .cell, .tile {
  user-select: none;
  cursor: default;
}

.cell, .tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans";
  color: #766;
  background-color: #dcb;
}

.tile0 {
  background-color: #dcb;
}

.tile2 {
  background-color: #eee;
}

.tile4 {
  background-color: #eec;
}

.tile8 {
  color: #ffe;
  background-color: #fb8;
}

.tile16 {
  color: #ffe;
  background-color: #f96;
}

.tile32 {
  color: #ffe;
  background-color: #f75;
}

.tile64 {
  color: #ffe;
  background-color: #f53;
}

.tile128 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px;
}

.tile256 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px;
}

.tile512 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px;
}

.tile1024 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px;
}

.tile2048 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px;
}

.tile4096 {
  color: #fff;
  background-color: #ec1;
  font-size: 35px;
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new, .overlay {
  animation-duration: 0.20s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  font-size: 55px;
  font-weight: bolder;
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 7px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.matrix {
  color: #000;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 1;
  border-radius: 5px;
  border-color:#876;
}

.overlay .message {
  color: #666;
}

.score {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  right: 0px;
  font-size: 55px;
  border-radius: 7px;
}

.score3 {
  left:345px;
}

.score4 {
  left:455px;
}

.score5 {
  left:565px;
}

.score6 {
  left:675px;
}

.score7 {
  left:785px;
}

.score8 {
  left:895px;
}